
$btn-collection:(
'default': $gray-900,
'white': $white
);

%btn{
    padding: 1.2rem 3.4rem;
    font-family:       $general-font;
    font-size:         1.4rem;
    line-height:       1.7rem;
    border-width:      1px;
    border-radius:     0;
    cursor:            pointer;
    
}

@each $key, $value in $btn-collection{
    .btn-#{$key}{
        @extend %btn;
        border-color: $value;
        color: $value;
        &:hover{
            opacity: 0.7;
        }
    }
}