$navbar-toggler-color: $light-pink;
$navbar-toggler-border: $dark-pink;
$navbar-text-color: $gray-900;

header{
    .navbar{
        .navbar-brand{
            max-width: 50%;
        }

        .navbar-toggler{
            border: 1px solid $navbar-toggler-border;
            padding: 5px;

            & span{
                display: block;
                width: 30px;
                height: 3px;
                background-color: $navbar-toggler-color;
                margin-bottom: 4px;
                &:last-of-type{
                    margin-bottom: 0px;
                }
            }
        }//.navbar-toggler end
        

        .navbar-nav{
            .nav-item{
                padding:10px 0px;

                .nav-link{
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    letter-spacing: 0.1rem;
                    color: $navbar-text-color;

                    &:after
                        {
                        content:'';
                        display: block;
                        width: 0px;
                        height: 1px;
                        margin-top: 5px;
                        background-color: $navbar-toggler-color;
                        transition:all 0.5s linear;
                    }
                    &:hover:after,
                        &.active:after{
                        width: 100%;
                    }
                }
            }
        }
    }
}//.header end


@media(min-width:768px){
    header{
        .navbar{
            .navbar-brand{
                max-width: 25%;
            }
            .navbar-nav{
                .nav-item{
                    margin-left: 30px;
                }
            }
        }
    }
}

@media(min-width:1200px){
    header{
        .navbar{
            .navbar-nav{
                .nav-item{
                    margin-left: 72px;
                }
            }
        }
    }
}