$services-background-one:$off-white;
$services-background-two:$light-pink;

.services{                   /*htela sam da probam css grid*/
    margin-bottom: 111px;
    .services-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        .services-col{
            .services-item{
                height: 100%;
                background-color: $services-background-one;
                text-align: left;
                display: grid;
                grid-template-columns: 9% 1fr 9%;
                grid-template-rows: 1fr;
                align-items: center;
                &.even{
                    background-color: $services-background-two;
                }
                .services-item-wrapper{
                    grid-column: 2/3;
                }
            }

            .services-img{
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

@media (min-width:576px) {
    .services{
        .services-wrapper{
            grid-template-columns: 1fr 1fr;

        }
    }
}

